{% extends 'examples/module.html' %}

{% block sidebar_items %}
<li class="heading">Viewflow Demo</li>
<li class="active"><a href="#">Home</a></li>
{% endblock sidebar_items %}


{% block breadcrumbs_items %}
<li class="active">Viewflow Demo</li>
{% endblock breadcrumbs_items %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-12" style="padding-left:40px">
        <h3>Viewflow examples</h3>
        <a href="https://github.com/viewflow/examples"><i class="glyphicon glyphicon-edit"></i> Source code on Github</a>
        <br><br>
        <ul>
            <li>
                <a href="https://github.com/viewflow/viewflow/blob/master/tests/examples/helloworld">HelloWorld</a>  - Viewflow introduction sample</li>
            <li>
                <a href="https://github.com/viewflow/viewflow/blob/master/tests/examples/shipment">Shipment</a> - Automate shipment process for ecommerce website</li>
            <li>
                <a href="https://github.com/viewflow/viewflow/blob/master/tests/examples/customnode">Dynamic split</a> -  Custom flow node example</li>
        </ul>
        <h3>Standalone demo projects</h3>
        <ul>
            <li>
                <a href="https://github.com/kmmbvnr/viewflow-demo/tree/master/ecommerce">Ecommerce</a> - Delivery department automation with viewflow and Django Cartridge Ecommerce</li>
            <li>
                <a href="https://github.com/kmmbvnr/viewflow-demo/tree/master/customauth">Customization</a> - Custom auth model and django-guardian for object level permissions, no viewsite</li>
        </ul>
        <h3>Additional libraries</h3>
        <ul>
            <li><a href="http://viewflow.io/#viewflow_pro">karenina</a> - bootstrap app for business and internal tools development with django</li>
            <li><a href="http://viewflow.io/#viewflow_pro">karenina.modules</a> - modular system for big django websites</li>
            <li><a href="http://viewflow.io/#viewflow_pro">karenina.theme</a> - ready to use bootstrap theme</li>
            <li><a href="http://viewflow.io/#viewflow_pro">karenina.workflow</a>- viewflow library integration for karenina</li>
            <li><a href="http://viewflow.io/#viewflow_pro">viewform</a> - Pure template form rendering with advanced controls and dynamic formset support</li>
        </ul>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="jumbotron">
            <h1>Django-Viewflow</h1>
            <p>Easy to use, programmable workflow framework on top of Django</p>
        </div>
    </div>

</div>
{% endblock content %}
